<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.RNEGEN.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m" >
        <activity
            android:name=".RNEDetail"
            android:exported="false" />
        <activity
            android:name=".lectorweb"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adAppEjemplo" />

        <activity
            android:name=".formulario"
            android:configChanges="uiMode"
            android:exported="false"
            android:label="@string/title_activity_formulario"
            android:theme="@style/Theme.RNEGEN.NoActionBar" />
        <activity
            android:name=".info2"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".info1"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>